<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ORDER STATUS</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <a href="../"><input type="button" value="Back"></a>
    <div class="main">
      <div class="navbar">
        <div class="icon">
          <h2 class="logo">ORDER STATUS</h2>
          <div class="menu">
            
          </div>
          <div class="order-status">
            <table>
              <tr>
                <th>New Order</th>
                <th>Pending Order</th>
                <th>Cleared Order</th>
              </tr>
              <tr>
                <td>
                  <div style="display: flex; flex-direction: row; gap:20px; flex:1;">
                    <div class="product-image-box"></div>
                    <div class="info">
                      <span class="currency-symbol">$</span><input type="number" name="new_item_price" placeholder="price">
                      <input type="date" name="new_item_date" placeholder="dd/mm/yy">
                    </div>
                  </div>
                </td>
                <td>
                  <div style="display: flex; flex-direction: row; gap:20px; flex:1;">
                    <div class="product-image-box"></div>
                    <div class="info">
                      <span class="currency-symbol">$</span><input type="number" name="new_item_price" placeholder="price">
                      <input type="date" name="new_item_date" placeholder="dd/mm/yy">
                    </div>
                  </div>
                </td>
                <td>
                  <div style="display: flex; flex-direction: row; gap:20px; flex:1;">
                    <div class="product-image-box"></div>
                    <div class="info">
                      <span class="currency-symbol">$</span><input type="number" name="new_item_price" placeholder="price">
                      <input type="date" name="new_item_date" placeholder="dd/mm/yy">
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
