{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Choices</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{%static 'login/loginchoices.css' %}"> <!-- Link to external CSS file -->
</head>

<body class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-image: url(''); background-size: cover;">
    <div class="text-center">
        <h1>Welcome to Shop-Com</h1>
        <button type="button" onclick="window.location.href='login.html';">Login as a Customer</button>
        <button type="button" onclick="window.location.href='login.html';">Login as a Business Owner</button>
    </div>
</body>
</html>
