*{
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%);
  background-position: center;
  background-size: center;
  height: 109vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
}

.logo {
  color: rgba(12, 212, 12, 0.5);
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 20px;
}

ul li {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;

}

ul li {
  color: brown;
}

.search {
  width: 330px;
  float: left;
  margin-left: 600px;
}

.srch {
  font-family: Arial;
  width: 200px;
  height: 40px;
  background:whitesmoke;
  border: 1px rgb(16, 185, 16);
  margin-top: 11px;
  color: rgb(0, 0, 0);
  border-right: none;
  font-size: 15px;
  float:left;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;

}

.btn {
  width: 100px;
  height: 40px;
  background: #000000;
  border: 2px solid #000000;
  margin-top: 13px;
  color: aliceblue;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus {
  outline: #66ff00;
}

.srch:focus {
  outline: #66ff00;
}
/*---add product---*/
.add-product {
  width: 100%;
 background: linear-gradient(to top, rgb(9, 188, 99)), url('image.jpg');
 background-position: center;
 background-size: cover;
 height: 109vh;

}
.logo {
  color: rgba(12, 32, 212, 0.5);
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.back-icon {
  display: inline-flex;
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
  color: blue;
  position: absolute;
  top: 30px;
  left: 20px;
}

.navbar {
  background-color: #f2f2f2;
  padding: 20px;
}

.drag-area {
  border: 2px dashed #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px ;
}


.add-product th, .add-product td {
  border: 1px solid #7153b7;
  padding: 8px;
}

.add-product th {
  text-align: left;
  color: black;
  background-color: whitesmoke;
}

.add-product tr {
  color: #333;
  background-color: whitesmoke;
}

.add-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-btn:hover {
  background-color: #0056b3;
}


